block vars
  - serverSide = true

mixin card
  .Card(class=serverSide ? 'Card--expanded' : '', data-card)
    .Card-view
      h2.Card-title Fixed size margins
      a.Card-close(href='/') +
      a.Card-link(href='/fixed-size') Expand
      p.Card-target IE7+
      .Card-info
        .Container
          .Card-description.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vehicula porta libero, et scelerisque nunc venenatis non. Quisque eget enim fringilla, tempus est non, sodales erat. Curabitur id lacucondimentum augue est in felis. Proin volutpat tempor finibus. Nulla quis blandit erat.
        pre.Card-code: code.js.
          .Center {
            bottom: 0;
            display: block;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: 0;
          }

-if (serverSide)
  include ../_partials/layout
  block content
    +card()
- else
  +card()

