doctype html
html.App
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title align.center
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="icon", href="/favicon.ico", type="image/x-icon")
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Alegreya+Sans:800,300,500')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/railscasts.min.css')
  body.App-body
    .App-data: block content
    script(src="/scripts/main.js" async)
