extends _partials/layout

block append vars
  - serverSide = false

block content
  if !wip
    .Align--center
      h1.Heading #[span.Heading-em align].center
      p.App-desc Because aligning stuff is hard!
    .Align--middle
      .Align-fill
        .Container
          .Cards
            include fixed-size/index.jade
  else
    .Align--middle: div
        h1.Heading #[span.Heading-em align].center
        p.App-desc Coming soonish...

