extends _partials/layout
block append vars
  - serverSide = false

block content
  div(data-align='center')
    h1.Heading #[span.Heading-em align].center
    p.App-desc Because aligning stuff is hard!o
  div(data-align='middle')
    div(data-align-content)
      .Container
        .Cards
          include fixed-size/index.jade
